<!-- @upcoming_events -->
<!-- <% locations = @group.locations %>
<% unless locations.empty? %>
  <% next_event = @group.events.upcoming.first %>
  <% base_loc = next_event ? next_event.location : locations.first %>
  <%= GMap.header %>
  <% map = map_location(base_loc, locations) %>
  <%= map.to_html %>
  </head><body>
<% end %> -->

<table>
  <tr>
    <th>Date</th>
    <th>Location</th>
  </tr>

<% for event in upcoming_events %>
  <tr>
    <td><%=h event.date %></td>
    <td><%= link_to h(event.location.name), location_path(event.location) %></td>
  </tr>
<% end %>
</table>